build: off

before_test:
  - curl -ostack.zip -L --insecure http://www.stackage.org/stack/windows-i386
  - 7z x stack.zip stack.exe

test_script:
  - stack setup > nul
  - stack exec -- ghc --version
  - stack build
  - stack test
