# Adapted from: https://github.com/ndmitchell/hlint/blob/master/.github/workflows/ci.yml
name: ci

on:
  push:
  pull_request:
  schedule:
  - cron:  '0 3 * * 6' # 3am Saturday
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ghc: ['9.2.6', '9.0.2', '8.10.7', '8.8.4', '8.6.5', '8.4']
        include:
        - os: windows-latest
        - os: macOS-latest

    steps:
    - run: git config --global core.autocrlf false
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      id: setup-haskell
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Get GHC libdir
      id: get-ghc-libdir
      run: |
        echo "::set-output name=libdir::$(ghc --print-libdir)"
      shell: bash
    - run: cabal v2-freeze --enable-tests
    - uses: actions/cache@v2
      with:
        path: ${{ steps.setup-haskell.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ steps.get-ghc-libdir.outputs.libdir }}-${{ hashFiles('cabal.project.freeze') }}
    - uses: snowleopard/neil@master
      with:
        github-user: snowleopard
        hlint-arguments: src
